body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .container {
    width: 1024px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}